.contact {
    width: 100%;
    max-width: 1250px;
    margin: 1.5em auto;
    border-radius: 5px;
    padding: 10px;
}

.contact__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap-reverse;
}

@media (max-width: 760px) {
    .contact__header {
        justify-content: center;
    }

    .contact__item {
        width: 128px;
        border-radius: 5px;
        margin: 2px;
    }
}

@media (max-width: 500px) {
    .contact {
      padding: 0;
    }
  }

.contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f5f5f5;
    width: 140px;
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 3px -1px 3px 0 rgba(0, 0, 0, 0.16), 0 -2px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 3px -1px 3px 0 rgba(0, 0, 0, 0.16), 0 -2px 3px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.contact__item--active {
    position: relative;
    z-index: 1000;
    background-color: #00838f;
}

.contact__item--active .contact__link {
    color: #FFFFFF;
}

.contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #5e5e5e;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact__content {
    position: relative;
    z-index: 500;
    border: .3em solid #00838f;
    border-radius: 5px;
    background-color: #00838f;
}

.content__form {
    background: #FFFFFF;
    border-radius: 5px;
}

.content__tab {
    display: none;
    min-height: 495px;
}

.content__tab--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact .custom-table th::after {
    content: none;
}

.contact .custom-table th::before {
    content: none;
}

.contact .custom-table {
    min-height: 200px;
}