
.navbar {
    justify-content: flex-end;
    background-color: #3F729B; 
}


.dropdown-button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.dropdown-button:before {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateY(-3px)
}


.user-data {
    margin-right: 20px;
    color: #FFF;
    font-size: 1.05em;
    font-weight: 400;
}

.background {
    position: relative;
    background-color: silver;
    z-index: -200;
}



/* Banner */

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: radial-gradient(rgba(233, 237, 219, 0) 0%, silver 75%), url("./banner-909710_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 80px 10px;
    position: relative;
    z-index: -100;
}

.banner__logo {
    display: flex;
    max-width: 450px;
    max-height: 200px;
    align-items: center;
    margin: auto;
    font-size: 55px;
    font-weight: 600;
    color: #fcfcfc;
    text-shadow: 2px 2px 3px black;
}

.banner__img {
    background-color: #f5f5f5;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
    width: 70px;
    height: auto;
}




/* Footer */

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #1c2331;
    width: 100%;
    -webkit-box-shadow: 0 -1px 5px 3px rgba(0, 0, 0, 0.16), 0 -1px 5px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 -1px 5px 3px rgba(0, 0, 0, 0.16), 0 -1px 5px 3px rgba(0, 0, 0, 0.12);
    color: #FFF;
    padding: 20px;
}

.footer__item {
    display: block;
    width: 300px;
}

.footer__item li {
    line-height: 1.2em;
}

.footer__item a {
    color: #5e5e5e;
}


@media (max-width: 550px) {
    .footer {
        flex-direction: column;
    }

    .footer__item {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
}