.custom-table {
    width: 90%;
    margin: auto;
    min-height: 584px;
    margin-bottom: 15px;
}

.card-body {
    overflow-x: auto;
}

.custom-table td {
    white-space: nowrap;
}

.custom-table th {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    border: solid 1px #dee2e6;
    cursor: pointer;
    user-select: none;
    /* width: 15%; */
    white-space: nowrap;
}

.custom-table th::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 15px;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #d9d9d9;
}

.custom-table th::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 15px;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #d9d9d9;
}

th.asc::after {
    border-bottom-color: #000;
}
th.dsc::before {
    border-top-color: #000;
}

.modal__info {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.modal__header {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.modal-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modal__title {
    font-weight: bold;
    background-color: #CCC;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 4px;
}

.modal__context {
    font-weight: 300;
    font-size: 1.1em;
    display: block;
}

.modal__textarea {
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
    overflow-y: scroll;
}

.updated {
    background-color: #2e7d32;
    padding: 3px 8px;
    font-size: 13px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

.updated::before {
    content: "\f058";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}

.not-updated {
    background-color: #c62828;
    padding: 3px 8px;
    font-size: 13px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

.not-updated ::before {
    content: "\f057";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}


@media (max-width: 767.98px) {
    .custom-table {
        width: unset;
    }
}

@media (max-width: 500px) {
    .custom-table {
        width: 100%;
    }

    .custom-table td {
        font-size: 0.8em;
    }
    
    .custom-table th {
        font-size: 0.8em;
    }
  }
