html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: silver !important;
}

@media (max-height: 530px) {
  body {
    height: unset;
  }
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-family: 'Roboto', sans-serif;  
}